// Solid Colors
$white: #fff;
$green: #00a651;
$cyan: #00aeef;
$indigo: #2e3192;
$purple: #91268f;
$magenta: #ec008c;
$red: #ed1c24;
$yellow: #fff200;
$black: #000;

// Tints, Shades, and Mixes
$pale-green: mix($white, $green, 97%);
$pale-cyan: mix($white, $cyan, 94%);
$pale-indigo: mix($white, $indigo, 94%);
$pale-magenta: mix($white, $magenta, 97%);
$pale-red: mix($white, $red, 92%);
$pale-yellow: mix($white, $yellow, 92%);
$light-green: mix($white, $green, 80%);
$light-cyan: mix($white, $cyan, 80%);
$light-indigo: mix($white, $indigo, 80%);
$light-magenta: mix($white, $magenta, 80%);
$light-red: mix($white, $red, 80%);
$light-yellow: mix($white, $yellow, 80%);

$dark-magenta: #bc1a8d;

// Screen Colors
$screen-white: rgba($white, .2);
$screen-green: rgba($green, .2);
$screen-cyan: rgba($cyan, .2);
$screen-indigo: rgba($indigo, .2);
$screen-magenta: rgba($magenta, .2);
$screen-red: rgba($red, .2);
$screen-yellow: rgba($yellow, .2);

$shade-white: rgba($white, .85);
$shade-pale-green: rgba($pale-green, .85);
$shade-cyan: rgba($cyan, .85);
$shade-indigo: rgba($indigo, .85);
$shade-purple: rgba($purple, .85);


//Transitions
$global-transition-time: 200ms;
$transition-all: all $global-transition-time ease;
$transition-color: color $global-transition-time ease;
$transition-opacity: opacity $global-transition-time ease;
$transition-padding: padding $global-transition-time ease;
$transition-position:
top $global-transition-time ease,
right $global-transition-time ease,
bottom $global-transition-time ease,
left $global-transition-time ease;

$transition-size:
width $global-transition-time ease,
height $global-transition-time ease;

//RADII
$button-radius: 1rem;

//Grid Stuff
$row-width: 1320px;
$column-gutter: rem-calc(30);
$total-columns: 12;

//Breakpoints

$baby-lap-break: 28em;
$lap-break: 52em;
$desk-break: 61em;
$wall-break: 75em;

$screen: 'only screen';

$landscape: '#{$screen} and (orientation: landscape)';
$portrait: '#{$screen} and (orientation: portrait)';

$hand-up: $screen;
$hand-only: '#{$screen} and (max-width: #{$lap-break})';

$baby-lap-up: '#{$screen} and (min-width:#{$baby-lap-break})';
$baby-lap-only: '#{$screen} and (min-width:#{$baby-lap-break}) and (max-width:#{$lap-break})';

$lap-up: '#{$screen} and (min-width:#{$lap-break})';
$lap-only: '#{$screen} and (min-width:#{$lap-break}) and (max-width:#{$desk-break})';

$under-desk: '#{$screen} and (max-width:#{$desk-break})';
$desk-up: '#{$screen} and (min-width:#{$desk-break})';
$desk-only: '#{$screen} and (min-width:#{$desk-break}) and (max-width:#{$wall-break})';

$wall-up: '#{$screen} and (min-width:#{$wall-break})';
