// All your z-indexes in one handy location
$z-hide: -1;
$z-content: 30;
$z-header: 40;
$z-header-bg-image: 50;
$z-header-bg-clip: 55;
$z-logo-bg: 60;
$z-logo: 70;
$z-date-block-bg: 90;
$z-date-block-text: 100;
$z-header-swoop: 110;
$z-nav-main: 1000;
$z-nav-main-toggle: 1001;
$z-modal-overlay: 9000;
$z-modal: 9001;
