.container {
  align-content: flex-start;
  align-items: flex-start;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  min-height: 100vh;
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;
  width: 100%;
}
